@page "/"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Jan Marvin Valencia - Resume</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body id="page-top">
    <!-- Page Content-->
    <div class="container-fluid p-0">
        <!-- About-->
        <section class="resume-section" id="about">
            <div class="resume-section-content">
                <h1 class="mb-0">
                    Jan Marvin
                    <span class="text-primary">Valencia</span>
                </h1>
                <div class="subheading mb-5">
                    Metro Manila, Philippines · (+63) 9152569208 ·
                    <a href="mailto:jmarvinvalencia@gmail.com">jmarvinvalencia@gmail.com</a>
                </div>
                <p class="lead mb-5">I am a Software Developer with 11 years of experience. My main tech stacks are primarily .NET focused. I'm proficient in C#, SQL Server and .NET Technologies. I have always been a problem solver. I was usually a DEV Support and was on call frequently in which I gained a lot of experience with client issues. Resolved numerous bugs and implemented various workarounds, providing thorough investigations and detailed analyses for each issue. I worked previously with legacy codes but I'm a fast learner and can definitely adapt to new technologies as well. </p>
                <div class="social-icons">
                    <a class="social-icon" href="https://www.linkedin.com/in/marvinvalencia/"><i class="fab fa-linkedin-in"></i></a>
                    <a class="social-icon" href="https://github.com/marvinvalencia"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Experience-->
        <section class="resume-section" id="experience">
            <div class="resume-section-content">
                <h2 class="mb-5">Experience</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Research and Development Consultant (Part-Time)</h3>
                        <div class="subheading mb-3">J Mantua IT Services Inc</div>
                        <p>Researched, implemented, and documented open-source systems such as Wazuh (SIEM) and ERPNext (cloud-based ERP), resolving configuration issues, developing scripts, automating jobs, and integrating APIs to enhance system functionality and efficiency.</p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">December 2022 - Present</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Application Support Developer</h3>
                        <div class="subheading mb-3">Merlot Aero Limited</div>
                        <p>Managed the Geneva and Merlot flight planning system applications, fixing numerous bugs, conducting design and code reviews, and mentoring junior engineers while collaborating with cross-functional teams. Frequently served as Dev Support during on-call shifts, addressing client performance issues by gathering diagnostic data and delivering effective workarounds and fixes within tight timelines. Contributed significantly to resolving memory leaks by identifying problematic areas in the codebase and implementing appropriate cleanup strategies. Participated in client site visits to understand operational workflows, document issues, perform in-depth investigations, and deliver tailored solutions. Successfully implemented multiple change requests with minimal defects and ensured quality by creating comprehensive unit tests. Also played a key role in migrating the application from Silverlight to WPF, contributing to a modernized and more maintainable system.</p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">November 2016 - July 2024</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Software Engineer Analyst</h3>
                        <div class="subheading mb-3">Navitaire</div>
                        <p>Managed the Geneva application, which utilized VB6 for the UI and C# for the backend, ensuring stability and functionality across both layers. Regularly fixed bugs and conducted thorough investigations to identify root causes, providing detailed analysis and documentation for each issue. After every release, performed comprehensive smoke tests to verify functionality and double-check for any bugs or defects, ensuring high-quality deliverables and minimizing post-release issues.</p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">March 2013 - November 2016</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Intern</h3>
                        <div class="subheading mb-3">Smart Communications, Inc</div>
                        <p>Primary responsibilities involved researching and testing various projects. Each team member was assigned either an existing or new project and tasked with evaluating the pros and cons of different products to identify the most suitable solution.</p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">May 2011 - April 2011</span></div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Education-->
        <section class="resume-section" id="education">
            <div class="resume-section-content">
                <h2 class="mb-5">Education</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">De La Salle University</h3>
                        <div class="subheading mb-3">Bachelor of Science Degree</div>
                        <div>Computer Science with Specialization in Network Engineering</div>
                        <ul>
                            <li>Studied Computer Science and was very interested and enjoyed coding</li>
                            <li>Awarded best thesis on creating an SIEM in C#</li>
                        </ul>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">2008 - 2012</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Elizabeth Seton School</h3>
                        <div class="subheading mb-3">Primary and Secondary Education</div>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">1998 - 2008</span></div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Skills-->
        <section class="resume-section" id="skills">
            <div class="resume-section-content">
                <h2 class="mb-5">Skills</h2>
                <div class="subheading mb-3">Programming Languages & Tools</div>
                <table class="table table-bordered table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th>Skill</th>
                            <th>Level</th>
                            <th>Years of Experience</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>C#</td>
                            <td>Expert</td>
                            <td>11</td>
                        </tr>
                        <tr>
                            <td>.NET</td>
                            <td>Expert</td>
                            <td>11</td>
                        </tr>
                        <tr>
                            <td>SQL Server</td>
                            <td>Expert</td>
                            <td>11</td>
                        </tr>
                        <tr>
                            <td>VB6</td>
                            <td>Expert</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>WPF</td>
                            <td>Proficient</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Unit Testing</td>
                            <td>Proficient</td>
                            <td>11</td>
                        </tr>
                        <tr>
                            <td>Entity Framework</td>
                            <td>Proficient</td>
                            <td>11</td>
                        </tr>
                        <tr>
                            <td>Rest API</td>
                            <td>Proficient</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Blazor</td>
                            <td>Proficient</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Telerik</td>
                            <td>Proficient</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Microservices</td>
                            <td>Proficient</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Python</td>
                            <td>Intermediate</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Interests-->
        <section class="resume-section" id="interests">
            <div class="resume-section-content">
                <h2 class="mb-5">Interests</h2>
                <p>Apart from being a software developer, I spend most of my free time gaming and watching movies and TV series—especially detective shows, spy thrillers, and whodunits-and enjoying time with my dog, whether we’re playing or out for a walk.. </p>
                <p class="mb-0">When I get the chance, I love spending my vacations with my wife traveling to new places, relaxing at the beach, and going scuba diving—it’s the perfect way to disconnect and recharge.</p>
            </div>
        </section>
        <hr class="m-0" />
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>


@code {

}

