@page "/experience"

<PageTitle>Experience</PageTitle>
    
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Research and Development Consultant (Part-Time)</h3>
                <div class="subheading mb-3">J Mantua IT Services Inc</div>
                <p>
                    Researched, implemented, and documented open-source systems such as Wazuh (SIEM) and ERPNext (cloud-based ERP), resolving configuration issues, developing scripts, automating jobs, and integrating APIs to enhance system functionality and efficiency.
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">December 2022 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Application Support Developer</h3>
                <div class="subheading mb-3">Merlot Aero Limited</div>
                <p>
                    Managed the Geneva and Merlot flight planning system applications, fixing numerous bugs, conducting design and code reviews, and mentoring junior engineers while collaborating with cross-functional teams. 
                    Frequently served as Dev Support during on-call shifts, addressing client performance issues by gathering diagnostic data and delivering effective workarounds and fixes within tight timelines. 
                    Contributed significantly to resolving memory leaks by identifying problematic areas in the codebase and implementing appropriate cleanup strategies. 
                    Participated in client site visits to understand operational workflows, document issues, perform in-depth investigations, and deliver tailored solutions. 
                    Successfully implemented multiple change requests with minimal defects and ensured quality by creating comprehensive unit tests. 
                    Also played a key role in migrating the application from Silverlight to WPF, contributing to a modernized and more maintainable system.
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">November 2016 - July 2024</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Software Engineer Analyst</h3>
                <div class="subheading mb-3">Navitaire</div>
                <p>
                    Managed the Geneva application, which utilized VB6 for the UI and C# for the backend, ensuring stability and functionality across both layers. 
                    Regularly fixed bugs and conducted thorough investigations to identify root causes, providing detailed analysis and documentation for each issue. 
                    After every release, performed comprehensive smoke tests to verify functionality and double-check for any bugs or defects, ensuring high-quality deliverables and minimizing post-release issues.
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">March 2013 - November 2016</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Intern</h3>
                <div class="subheading mb-3">Smart Communications, Inc</div>
                <p>
                    Primary responsibilities involved researching and testing various projects. 
                    Each team member was assigned either an existing or new project and tasked with evaluating the pros and cons of different products to identify the most suitable solution.
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">May 2011 - April 2011</span></div>
        </div>
    </div>
</section>
<hr class="m-0" />

@code {

}
