@page "/"
@using ResumeProject.Blazor.Services
@using ResumeProject.Domain.Entities
@inject ResumeService ResumeService

<PageTitle>Home</PageTitle>

<div class="container-fluid p-0">
    @if (ResumeService.ErrorMessage != null)
    {
        @ResumeService.ErrorMessage
    }
    @* <input @bind="userName" /> *@
    @* <p>Hello, Guest!</p> *@
    <!-- About-->
    <section class="resume-section" id="about">
        <About />
    </section>
    <hr class="m-0" />
    <!-- Experience-->
    <section class="resume-section" id="experience">
        <Experience />
    </section>
    <hr class="m-0" />
    <!-- Education-->
    <section class="resume-section" id="education">
        <Education />
    </section>
    <hr class="m-0" />
    <!-- Skills-->
    <section class="resume-section" id="skills">
        <Skills />  
    </section>
    <hr class="m-0" />
    <!-- Interests-->
    <section class="resume-section" id="interests">
        <Interests />
    </section>
    <hr class="m-0" />
</div>


@code {
    private Resume? resume;

    protected override async Task OnInitializedAsync()
    {
        resume = await ResumeService.GetResumeAsync(new Guid("883fe71e-c318-40d5-b00a-be1b129fb0c1"));
    }
}

