@page "/interests"

<PageTitle>Interests</PageTitle>

<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        <p>
            Apart from being a software developer, I spend most of my free time gaming and watching movies and TV series, especially detective shows, spy thrillers, and whodunits. 
            Also enjoy my time with my dog, whether we’re playing or out for a walk. 
        </p>
        <p class="mb-0">
            When I get the chance, I love spending my vacations with my wife traveling to new places, relaxing at the beach, and going scuba diving. 
            It’s the perfect way to disconnect and recharge.
        </p>
    </div>
</section>
<hr class="m-0" />

@code {

}
